

.HeroContainer {
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px;
    height: 600px;
    position: relative;
    z-index: 1;
}




.HeroContainerDash {
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px;
    height: 300px;
    position: relative;
    z-index: 1;
}



.HeroBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.VideoBg-world{
        width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
}





.VideoBg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
}


.HeroContent {
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.HeroH1 {
    color: #fff;
    font-size: 48px;
    text-align: center;
    text-shadow: 4px 4px #041100;

    
}



.HeroH2 {
    color: rgb(0, 255, 229);
    margin-top: 10px;
    font-size: 32px;
    text-align: center;
}




.HeroP{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}






.Top-card-title {
    color: #00630f;
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
}




.Top-card-text{
    color: #00630f;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}






.pricing__container {
    display: flex;
    justify-content: center;
    align-content: center;
}



.pricing__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 18px;
    align-items: right;
    color: #fff;
}





.TransLimit__container-card {
    background: linear-gradient(45deg, #264b02 0%, #05c102 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 480px;
    height: 280px;
    text-decoration: none;
    border-radius: 30px;
}


.TransLimit__container-card:nth-child(2) {
    transform: scale(1.05);
    background: linear-gradient(45deg, #777877 0%, #646564 100%);
    margin: 0 20px;
}


.TransLimit__container-card:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}

.TransLimit__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 15px;
    align-items: center;
    color: #fff;
}


.TransLimit__container-cardInfo h3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
}


.TransLimit__container-cardInfo h4 {
    font-size: 30px;
}


.TransLimit__container-cardInfo p {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 15px;
}



.TMButton{
    margin-left: 40px;
}








.Accounts__container-cardInfo{
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 15px;
    margin-top: 20px;
    align-items: center;
    color: rgb(0, 0, 0);
    
}


.UseableFunds__container-cardInfo{
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 20px;
    align-items: left;
    color: rgb(0, 0, 0);
    
}

.UseableFunds__container-card {
    background: linear-gradient(180deg, #c4c3c3 0%, #a9a8a8 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 800px;
    height: 280px;
    text-decoration: none;
    border-radius: 30px;
    
}


.Transaction__container-card {
    background: linear-gradient(180deg, #c4c3c3 0%, #a9a8a8 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 500px;
    height: 280px;
    text-decoration: none;
    border-radius: 30px;
    
}





.Accounts__container-card {
    background: linear-gradient(45deg, #ebebeb 0%, #ebe9e9 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 280px;
    height: 280px;
    text-decoration: none;
    border-radius: 30px;
    
}







.UseableFunds__container-card:nth-child(2) {
    transform: scale(1.05);
    background: #4f4d4d;
    margin: 0 20px;
}


.UseableFunds__container-card:hover {
    transform: scale(1.01);
    transition: all 0.3s ease-out;
    color: #1c2237;
}



.Transfer_Money_Button{
    margin-left: 50px;
    
}


.transctions.h2{
    color:#065902;
    
}



.Accounts_UsableFunds p {
    margin-top: 5px;

    font-size: 15px;
    align-content: right;
    color: #000000;
    
}

.Accounts_UsableFunds h4 {
    font-size: 30px;
    color: #117b01;
    
}










.RightSide_UsableFunds p {
    margin-top: 5px;
    margin-bottom: 24px;
    margin-left: 650px;
    font-size: 15px;
    align-content: right;
    color: #000000;
    
}

.RightSide_UsableFunds h4 {
    font-size: 40px;
    color: #117b01;
    margin-left: 564px;
    
}



.UseableFunds__container-cardInfo h3 {
    margin-bottom: 10px;
    font-size: 15px;
}


.UseableFunds__container-cardInfo h4 {
    font-size: 50px;
}

.UseableFunds__container-cardInfo h1 {
    font-size: 35px;
}



.UseableFunds__container-cardInfo p {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 15px;
}






@media screen and (max-width: 768px) {
    .HeroH1{
        font-size: 40px;
    }
    
}


@media screen and (max-width: 480px) {
    .HeroH1{
        font-size: 32px;
    }
    
}










.main{
    max-width: 1200px;
    margin: 0 auto;
}

.h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.dashboard-btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.dashboard-btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 10px;
    align-items: center;
}


.ListCards {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
    padding: 10px;
    align-items: center;
}



.cards_item {
    display: flex;
    padding: 1rem;
    
}





@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}


.total.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}




.CLEARcard_content {
    padding: 1rem;
    width:500px;
    
    background: transparent;
    
    border-radius: 20px;
}



.card_content {
    padding: 1rem;
    width:500px;
    
    background: linear-gradient(to bottom left, #e9e7e7 40%, #cecdcd 100%);
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.total.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left,  #35bab1 40%, #11939a 100%);
}



.card_title {
    color: #3e3e3e;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #545353;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}



.card_image{
    height: 300px;
    resize:vertical;
    padding: 10px;
}


.card_text2 {
    color: #2d9103;
    font-size: 45px;
    line-height: 1.5;
    margin-top: 1.25rem;
    margin-bottom: 1rem;    
    font-weight: 400;
}



.currentCards1{
    padding: 50px;
    margin-left: 200px;
    margin-right: 100px;
    align-items: center;
    text-align: center;
}








.card {
    flex-direction: row;
    align-items: center;
}
.card-title {
    font-weight: bold;
}
.card img {
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}
@media only screen and (max-width: 768px) {
    a {
        display: none;
    }
    .card-body {
        padding: 0.5em 1.2em;
    }
    .card-body .card-text {
        margin: 0;
    }
    .card img {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .card img {
        width: 40%;
    }
}