.request-card {
     background: linear-gradient(45deg, #264b02 0%, #05c102 100%);
     box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
     width: 100%;
     height: 130px;
     text-decoration: none;
     border-radius: 10px;
     color: #fff;
     padding: 10px 0px 20px 10px;
     margin-bottom: 20px;
     margin-right: 8%;
     border-style: solid;
     border-width: 2px;
     border-color: black; 
     margin-left:-5%;
}

.test{

    width: 100;
    margin-left: -200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons{
    transform: scale(0.7);
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    margin-right: 5%;
    margin-left: -5%;
}

.icon{
    margin-left:60%;
    padding: 0px 0px 40px 0px;
    display:flex;
    justify-content: center;
    transform: scale(4);
    color: #fff;
}